@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: #E4E4E7;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

:root {
  --navbar-height: 60px;
  --sidebar-width: 16rem;
}

.layoutContainer {
    display: grid;
    grid-template-columns: var(--dynamic-sidebar-width) 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    transition: grid-template-columns 0.35s ease-in-out;
}

.sidebar {
    grid-column: 1;
    grid-row: 1;
    flex-shrink: 0;
}

.contentWrapper {
    grid-column: 2;
    grid-row: 1;
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: var(--navbar-height);
    flex-shrink: 0; 
    z-index: 1000;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #008543 #f1f5f9;
}
